@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Disc Golf is cool and everyone should play, this site will help you get started.</h1>
    <p>The Mountain West offers stunning views and top-notch disc golf courses, making it a prime destination for players. <br />With its scenic beauty and well-designed courses, it's a must-visit spot for anyone looking to enjoy the game.</p>

    <h2>What you need to get started</h2>
    <p>- A disc <br /> - A basket</p>
    <p>That's it!</p>
    <p>Disc golf is played similar to traditional golf, who ever can place their disc in the basket in the fewest amount of throws wins. Disc golf courses are really what make the game stand out! You can go to the mountains with soaring views
        and throw shots down long hills. Or, you can go to the desert and try your best to place a long distance shot clost to the basket. The cost to get started is only about $10, or free if you have a frisbee lying around. Most courses
        do not charge you to play.  
    </p>
    <p>Learning the game can be a little tricky. Disc golf discs do not fly like regular "ultimate frisbee" style discs. They are much smaller but weigh about the same, leading them to fly in unexpected ways. A couple tips for bigginers. 
        If you are throwing right handed expect the disc to go straight than hard left, this is called fade. (The fligth will be opposite for left handers, straight than right). Discs have classifications of "Driver", "Mid-Range", and "Putter" it may
        be tempting to go and grab a driver and test your max distance throw, but this should be avoided at first. Disc classifications are more of a recomendation of what the disc can do rather than what the disc should be used for. I recomend starting
        off only using putters. They are the easiest to throw and fly most similarly to regular frisbees. You can play an entire course with just a putter and nothing else, many experienced disc golfers will use a putter for shots over 300 ft! 
    </p>
    <h4>Do a quick search for the closest course near you and get out there!</h4>
    <div class="image-container">
        <img src="~/lib/images/designer.png" class="small-image" />
        <img src="~/lib/images/disc golf basket.jpg" class="small-image" />
    </div>
</div>
