@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<body>
    <div class="text-center">
        <h1 class="display-4">Want some help learning the game?</h1>
        <p>Being new at anything can be intimidating. If you need someone to help get you started I will help tutor beginners to help them learn course etiquette, rules, and basic form of the game.</p>
    </div>

    <h1>Tutoring Calculator</h1>
    <label for="hours">Number of Hours:</label>
    <input type="number" id="hours" min="1">
    <br>
    <label>Hourly Rate: $8.50</label>
    <br>
    <button id="calculate-btn">Calculate Total</button>
    <br>
    <div id="output-box"></div> <!-- Output box -->
    <br>
    <a href="/">Back to Home Page</a>

</body>

